<div class="card mt-3">
	<div class="card-body">
		<h1>{{post.titulo}}</h1>
		<hr>
		<small>Data de publicação: {{post.data}}</small><br>
		<small>Categoria: {{categoria.titulo}}</small>
		<hr>
		{{post.conteudo}}
	</div>
</div>