nodemon
mysql2
sequelize
express
express-handlebars
body-parser
md5

1. Install all softwares and libs
2. Uncomment the line //Anotacao.sync({force: true}) in file Anotacao.js
3. In command line access folder from projetct
4. Run the command nodemon index.js
5. Delete or comment the line Anotacao.sync({force: true}) in file Anotacao.js
6. In your browser access the address localhost:8081 or change the port in file db.js 
